body{
  background-color: rgb(255, 0, 0);
}

#id_body {
  background-image: none;
  background-color: #8080ff;
}

ul.navbar{
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline;
  background-color: rgb(255,255,255);
}
