<p>
  Page d'accueil de l'ERP TNS </br> </br>
  {{prenom}} {{nom}} </br>
  {{email}} </br>
  {{telephone}} </br>
  {{poste}}
</p>


<p>
  Si vous voulez changer de mot de passe, entrez l'ancien et le nouveau ci-dessous
</p>
<form method="post"  role="form" action="">
{% csrf_token %}
<input type="password" name="oldPassword" placeholder="Ancien mot de passe">
<input type="password" name="newPassword1" placeholder="nouveau mot de passe">
<input type="password" name="newPassword2" placeholder="Retapez le mot de passe">
<input type="submit" value="Changer le mot de passe" />
</form>
