{% extends "base.html" %}
{% block head_title %}Index{% endblock %}

{% block title %}Bienvenue sur l'ERP TNS{% endblock %}

{% block content %}
  <div class="card-panel indigo lighten-5">
    <h3><a href="/home/">Informations du compte</a></h3>
  </div>
  <div class="card-panel indigo lighten-5">
    <h3><a href="/account/">Paramètres du compte</a></h3>
  </div>
  <div class="card-panel indigo lighten-5">
    <h3><a href="/impressions/">Gestion des impressions et reliures</a></h3>
  </div>
  <div class="card-panel indigo lighten-5">
    <h3><a href="/tresorerie/">Interface administration de la trésorerie</a></h3>
  </div>
{% endblock %}
