{% extends "base.html" %}
{% block head_title %}Index{% endblock %}

{% block title %}Bienvenue sur l'ERP TNS{% endblock %}

{% block content %}
  {% if not dansLaBaseDeDonee %}
  <header>
    <div class="fixed-announcement">
        <div class="announcement center">
          <div class="container">Tu n'es pas enregistré dans la base de donnée, demande ton ajout à un administrateur ! </div>
        </div>
    </div>
  </header>
  {% endif %}
  {% if dansLaBaseDeDonee %}
  <div class="card-panel indigo lighten-5">
    <h3><a href="/home/">Informations du compte</a></h3>
  </div>
  {% endif %}
  <div class="card-panel indigo lighten-5">
    <h3><a href="/account/">Paramètres du compte</a></h3>
  </div>
  {% if dansLaBaseDeDonee %}
  <div class="card-panel indigo lighten-5">
    <h3><a href="/impressions/">Gestion des impressions et reliures</a></h3>
  </div>
  <div class="card-panel indigo lighten-5">
    <h3><a href="/tresorerie/">Interface administration de la trésorerie</a></h3>
  </div>
  {% endif %}
{% endblock %}
