{% extends "base.html" %}
{% block head_title %}Login{% endblock %}
{% block navbar %}{% endblock %}

{% block title %}ERP TNS{% endblock %}

{% block content %}
<!-- LOGIN -->

<div class="valign-wrapper">
<div class="card-panel">
  <div class="row">
    <form method="post" role="form" action="" class="col s12">
      {% csrf_token %}
		<div class="row">
		<div class="input-field col s6 offset-s3 center-align">
		<img src="../../static/img/logo.jpg" width="60%"/>
        </div>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6 offset-s3">
		  <i class="material-icons prefix">person_outline</i>
          <input id="email" type="email" name="username"/>
          <label for="email">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6 offset-s3">
		  <i class="material-icons prefix">lock_outline</i>
          <input id="password" type="password" name="password">
          <label for="password">Mot de passe</label>
          </input>
        </div>
      </div>
      <div class="row">
        <div class="content col s2 offset-s5">
          <button class="btn waves-effect waves-light indigo" type="submit" name="action" value="login">
            Connexion<i class="material-icons right">send</i>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
</div>
{% endblock %}
{% block footer %}{% endblock %}
<!--
  </body>
</html>
-->
