{% extends "base.html" %}
{% block head_title %}Impression{% endblock %}

{% block content %}

    <h1>Gestion des impressions et reliures</h1>

    <form method="post"  role="form" action="">
      {% csrf_token %}

      <input type="text" name="nomClient" placeholder="nomClient"/>
      <input type="text" name="prenomClient" placeholder="prenomClient"/>
      <br/>
      <input type="text" name="nombrePagesCouleur" placeholder="nombrePagesCouleur"/>
      <input type="text" name="nombrePagesNB" placeholder="nombrePagesNB"/>
      <br/>
      <div class="deroul">
        Reliure
        <select name="reliure">
          <option> oui
          <option> non
        </select>
      </div>
      <br/>
      <div class="deroul">
        Est payé
        <select name="estPaye">
          <option> oui
          <option> non
        </select>
      </div>
      <br/>
      <div class="deroul">
        Envoyer un email ?
        <select name="email">
          <option> oui
          <option> non
        </select>
      </div>
      <input type="submit" value="valider" name="addToDatabase"/>
    </form>

    <br/>
    <p>Valider le paiement d'une précédente impression</p>
    <form method="post" role="form" action="">
      {% csrf_token %}
      <input type="text" name="nomClient" placeholder="nomClient"/>
      <input type="text" name="prenomClient" placeholder="prenomClient"/>
      <input type="submit" value="Chercher" name="listTransactions"/>
    </form>
{% endblock %}
