{% extends "base.html" %}
{% block head_title %}Transactions{% endblock %}

{% block title %}Liste des dix dernières impressions{% endblock %}
{% block content %}

<ul class="collecion">
{% for transaction in transactions %}
      {% if transaction.estPaye %}
      <li class="col s12 collection-item green lighten-5" >
      {% else %}
      <li class="col s12 collection-item red lighten-5" >
      {% endif %}
      <div class="row center">
        <div class="col s12">
          <h4>{{transaction.prenomClient}} {{transaction.nomClient}} : {{transaction.date}}</h4>
        </div>
      </div>
      <div class="row">
        <div class="col s12 center ">
          <b>Pages couleur :</b> {{transaction.nombrePagesCouleur}} |
          <b>Pages noir/blanc :</b> {{transaction.nombrePagesNB}}
          </br>
          <b>Reliure :</b> {{transaction.reliure}}
          </br>
          {% if transaction.estPaye %}
          <b>Prix à payer :</b> <span class="green-text text-darken-2" >{{transaction.prix}}</span>
          {% else %}
          <b>Prix à payer :</b> <span class="red-text text-darken-2" >{{transaction.prix}}</span>
          {% endif %}
        </div>
      </div>
    </li>
{% endfor %}
</ul>

{% endblock %}
