{% extends "base.html" %}
{% block head_title %}Impayes{% endblock %}

{% block title %}Listes des impayés à ce jour{% endblock %}

{% block content %}
    <ul class="collection">
    {% for impaye in impayes %}
        <li class="collection-item indigo lighten-5">
          <b>Client :</b> {{impaye.prenomClient}} {{impaye.nomClient}}
          <b>Date :</b> {{impaye.date}}
          </br>
          <b>Pages couleur :</b> {{impaye.nombrePagesCouleur}},
          <b>Pages noir/blanc :</b> {{impaye.nombrePagesNB}},
          <b>Reliure :</b> {{impaye.reliure}}
          </br>
          <b>Prix à payer :</b> <span class="red-text text-darken-2" >{{impaye.prix}}</span>
        </li>
    {% endfor %}
    </ul>
{% endblock %}
